.user-info{
    font-size: 18px;
    margin: 10px;
}

.user-info-container{
    background: white;
    border: solid 2px lightgray;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.user-avatar{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.under-photo{
    width: 80%;
    margin-left: 0;
}

.user-info-settings {
    margin-left: 210px;
    min-width: 65%;
    font-size: 18px;
    margin-bottom: 20px;
}

.user-info-settings-under-photo{

}